.DS_Store
*~
.#*
*.log
*.pid

pom.xml*
*.jar
/lib/
/target/
/classes/
/checkouts/

*.class
/src/java/th-mack/swisseph
/src/java/swisseph

.lein-deps-sum
.lein-env
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

.nrepl-port
.nrepl-history
