.DS_Store
*~
.#*
*.log
*.pid

pom.xml*
*.jar
/lib/
/out/
/target/
/classes/
/checkouts/

*.class
/src/java/ephemeris/swisseph
/src/java/swisseph*/swisseph
/src/java/swisseph*/Sweclips.java
/src/java/swisseph*/Swemini.java
/src/java/swisseph*/Swetest.java
/src/java/swisseph*/Transits.java

# Leiningen
/.lein-*
/.nrepl-*

# clj-kondo
/.clj-kondo/.cache
