.DS_Store
*~
.#*
*.log
*.pid

pom.xml*
*.jar
/lib/
/target/
/classes/
/checkouts/

*.class
/src/java/swisseph
/src/java/Sweclips.java
/src/java/Swemini.java
/src/java/Swetest.java
/src/java/Transits.java

.lein-deps-sum
.lein-env
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

.nrepl-port
.nrepl-history
